*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background: url(https://wallpapers.com/images/hd/space-stars-background-4000-x-2250-oy07oowlgrr27av1.jpg);
    background-attachment: fixed;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.menucapa {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(129, 129, 194, 0.6);
    z-index: -1;
    top: 0;
    left: 0;
}
/*estilos para el emcabezado*/
.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container .btn-menu,
.logo {
  float: left;
  line-height: 100px;
}
.container .btn-menu label {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
.logo h1 {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
}
.container .menu {
    float: right;
    line-height: 100px;
}
.container .menu a {
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}
  .container .menu a:hover {
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}
/*final de los estilo para el encabexado*/

/*barra lateral de menu*/
/*.btn-menu{
    display: none;
}*/
.container .btn-menu {
    display: block; 
    padding: 0 20px;
}

.contenedor-menu{
    position: fixed;
    background: rgba(4, 4, 43, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;  
    z-index: 1000;
}
#btn-menu:checked ~ .contenedor-menu {
    opacity: 1;
    visibility: visible;
}
.cont-menu {
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .contenedor-menu .cont-menu {
    transform: translateX(0%);
}
.cont-menu nav {
    width: 100%;
    padding: 20px 0;
    transform: translateY(15%);
    display: block;
    opacity: 1;
}
.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 15 px 20px;
    color: #c7c7c7;
    font-size: 18px;
    border-left: 5px solid transparent;
    transition: all 0.3ms ease;
}
.cont-menu nav a:hover {
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
/*fin de la barra*/